.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  &__menu {
    display: flex;
    gap: 5px;
    flex: 1;
    height: 100%;
    width: 100%;
  }
  &__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__button {
    background: white; /* Белый фон кнопки */
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;

    span {
      background: linear-gradient(45deg, #eb4c76, #fe5c45);
      -webkit-background-clip: text; /* Применяем градиент к тексту */
      background-clip: text;
      color: transparent; /* Делаем текст прозрачным, чтобы был виден градиент */
      transition: background 0.3s ease;
      text-decoration: none;
    }
    @media (hover: hover) {
      &:hover {
        transform: scale(1.02);
        background-color: #ffe6ec;

        transition: all 0.3s;
      }
    }
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 18%;
  height: 100%;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 20px;
    height: 20%;
    border-radius: 5px;
    background-color: var(--color-white);
    h2 {
      background: linear-gradient(45deg, #eb4c76, #fe5c45);
      -webkit-background-clip: text; /* Применяем градиент к тексту */
      background-clip: text;
      color: transparent;
      font-size: 2rem;
      transition: background 0.3s ease;
    }
  }
  @media (max-width: 425px) {
    &__item {
      padding: 10px;
      h2 {
        width: 100%;
        font-size: 14px;
        word-break: break-all;
      }
    }
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px;
  height: 100%;
  width: 100%;

  position: relative;
  @media (max-width: 425px) {
    & {
      padding: 10px;
    }
  }
}

.questions {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5 колонок */
  grid-template-rows: repeat(5, 1fr); /* 5 строк */
  gap: 5px; /* Отступы между элементами */
  width: 100%;
  height: 100%;
  &__item {
    background-color: var(--color-white);
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    transition: all 0.3s ease;

    span {
      background: linear-gradient(45deg, #eb4c76, #fe5c45);
      -webkit-background-clip: text; /* Применяем градиент к тексту */
      background-clip: text;
      color: transparent; /* Делаем текст прозрачным, чтобы был виден градиент */
      transition: all 0.3s ease;
    }

    @media (hover: hover) {
      &:hover {
        background-color: #ffe6ec;
        transition: all 0.3s ease;

        span {
          background: linear-gradient(45deg, #fe5c45, #eb4c76);
          background-clip: text;
        }
      }
    }
    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
  @media (max-width: 425px) {
    &__item {
      padding: 10px;
      span {
        font-size: 1rem;
      }
    }
  }
}
